In [8]:
import requests
from bs4 import BeautifulSoup
import zipfile

In [9]:
response = requests.get("https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202201.zip")
response

In [10]:
soup = BeautifulSoup(response.text, "html.parser")

In [17]:
link = soup.find_all('a', {'class': 'resource-url-analytics'})
link

[]

In [20]:
import pandas as pd 
df = pd.read_csv("https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202201.zip",compression="zip",sep=";")

In [21]:
df

,TP_FUNDO,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,FI,00.017.024/0001-53,2022-01-03,1075476.00,28.110273,1078462.74,0.0,0.00,1
1,FI,00.017.024/0001-53,2022-01-04,1075873.10,28.118682,1078785.36,0.0,0.00,1
2,FI,00.017.024/0001-53,2022-01-05,1076280.19,28.127768,1079133.95,0.0,0.00,1
3,FI,00.017.024/0001-53,2022-01-06,1076680.92,28.137115,1079492.53,0.0,0.00,1
4,FI,00.017.024/0001-53,2022-01-07,1073899.79,28.146295,1076721.79,0.0,3122.94,1
...,...,...,...,...,...,...,...,...,...
480904,FI,97.929.213/0001-34,2022-01-25,70251207.06,9.243232,70242294.13,0.0,0.00,2
480905,FI,97.929.213/0001-34,2022-01-26,70440726.48,9.268123,70431443.46,0.0,0.00,2
480906,FI,97.929.213/0001-34,2022-01-27,70470638.00,9.272010,70460984.80,0.0,0.00,2
480907,FI,97.929.213/0001-34,2022-01-28,62973456.72,9.273704,70473854.31,0.0,0.00,2
480908,FI,97.929.213/0001-34,2022-01-31,69880455.18,9.307868,70733482.70,0.0,0.00,2