In [1]:
import pandas as pd
from pyod.models.ecod import ECOD

In [2]:
data_raw = pd.read_csv(r"C:\Users\paulo\PycharmProjects\ETL-CVM\data\cvm_fi_2000_2022.csv", index_col=0,
                       low_memory=False)
data_raw.shape

(57626454, 9)

In [3]:
data_raw = data_raw.query(
    "VL_TOTAL >= 0 and VL_QUOTA >= 0 and VL_PATRIM_LIQ >= 0 and NR_COTST > 0 and CAPTC_DIA >= 0 and RESG_DIA >= 0")
data_raw.shape

(56860405, 9)

In [4]:
data_raw_filter = data_raw.copy()

In [5]:
data_raw_filter.describe()

,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
count,5.686040e+07,5.686040e+07,5.686040e+07,5.686040e+07,5.686040e+07,5.686040e+07
mean,3.553549e+08,2.088758e+05,3.476160e+08,2.178688e+06,2.124899e+06,1.151052e+03
std,3.000138e+10,1.486288e+09,2.333124e+09,6.024432e+07,5.837907e+07,1.663780e+05
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
25%,1.265851e+07,1.277843e+00,1.267111e+07,0.000000e+00,0.000000e+00,1.000000e+00
50%,3.720329e+07,2.702882e+00,3.721313e+07,0.000000e+00,0.000000e+00,2.000000e+00
75%,1.369151e+08,2.515030e+01,1.366828e+08,0.000000e+00,0.000000e+00,1.700000e+01
max,2.157003e+14,1.120662e+13,3.439999e+12,1.111448e+11,4.597324e+10,1.246559e+09

In [6]:
data_train_base = data_raw.drop(columns=["TP_FUNDO", "CNPJ_FUNDO", "DT_COMPTC"]).dropna()

In [7]:
data_train_base.shape

(56860405, 6)

In [8]:
classifiers = {
    "ECOD_0.5%": ECOD(contamination=0.005),
}

In [9]:
for clf_name, clf in classifiers.items():
    data_train = data_train_base.copy()
    print(f"Initial data shape {data_train.shape}")
    for column in data_train.columns:
        print(f"Removing outliers from: {column}")
        x_train = data_train[column].values.reshape(-1, 1)
        clf.fit(x_train)
        y_pred = clf.labels_
        data_raw_filter.drop(data_train[y_pred == 1].index, inplace=True)
        data_train.drop(data_train[y_pred == 1].index, inplace=True)
        print(f"removed {y_pred.sum()} rows")
        print(f"Data shape after {column} {data_train.shape}")

Initial data shape (56860405, 6)
Removing outliers from: VL_TOTAL
removed 284302 rows
Data shape after VL_TOTAL (56576103, 6)
Removing outliers from: VL_QUOTA
removed 282881 rows
Data shape after VL_QUOTA (56293222, 6)
Removing outliers from: VL_PATRIM_LIQ
removed 281467 rows
Data shape after VL_PATRIM_LIQ (56011755, 6)
Removing outliers from: CAPTC_DIA
removed 280059 rows
Data shape after CAPTC_DIA (55731696, 6)
Removing outliers from: RESG_DIA
removed 278659 rows
Data shape after RESG_DIA (55453037, 6)
Removing outliers from: NR_COTST
removed 277255 rows
Data shape after NR_COTST (55175782, 6)

In [10]:
data_raw.shape

(56860405, 9)

In [11]:
data_raw_filter.shape

(55175782, 9)

In [12]:
data_raw.describe()

,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
count,5.686040e+07,5.686040e+07,5.686040e+07,5.686040e+07,5.686040e+07,5.686040e+07
mean,3.553549e+08,2.088758e+05,3.476160e+08,2.178688e+06,2.124899e+06,1.151052e+03
std,3.000138e+10,1.486288e+09,2.333124e+09,6.024432e+07,5.837907e+07,1.663780e+05
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
25%,1.265851e+07,1.277843e+00,1.267111e+07,0.000000e+00,0.000000e+00,1.000000e+00
50%,3.720329e+07,2.702882e+00,3.721313e+07,0.000000e+00,0.000000e+00,2.000000e+00
75%,1.369151e+08,2.515030e+01,1.366828e+08,0.000000e+00,0.000000e+00,1.700000e+01
max,2.157003e+14,1.120662e+13,3.439999e+12,1.111448e+11,4.597324e+10,1.246559e+09

In [13]:
data_raw_filter.describe()

,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
count,5.517578e+07,5.517578e+07,5.517578e+07,5.517578e+07,5.517578e+07,5.517578e+07
mean,1.895581e+08,6.985081e+03,1.891017e+08,3.588669e+05,2.928558e+05,3.259201e+02
std,5.342637e+08,1.100524e+06,5.324119e+08,2.208511e+06,1.607225e+06,1.751831e+03
min,5.383012e+04,3.639899e-01,4.200000e-01,0.000000e+00,0.000000e+00,1.000000e+00
25%,1.256201e+07,1.279173e+00,1.257093e+07,0.000000e+00,0.000000e+00,1.000000e+00
50%,3.587136e+07,2.684378e+00,3.587692e+07,0.000000e+00,0.000000e+00,2.000000e+00
75%,1.252478e+08,2.606957e+01,1.250441e+08,0.000000e+00,0.000000e+00,1.400000e+01
max,1.637710e+10,6.377437e+09,7.252777e+09,4.292778e+07,2.506324e+07,2.608400e+04

In [15]:
path_to_save = fr"C:\Users\paulo\PycharmProjects\ETL-CVM\data\cvm_fi_2000_2022_(ECOD_0.5%)_without_outliers_all_columns.parquet"

data_raw_filter.to_parquet(path_to_save)